<!-- <!DOCTYPE html>
<html>
<head>
	<title>Documents</title>
</head>
<body>
	{%for document in myDocuments%}
	<li>{{document.data}}</li>
	{% endfor %}

	{% for share_price in share_prices %}
	<li>{{share_price.timestamp}}, {{share_price.open}}, {{share_price.close}}, {{share_price.volume}}</li>
	{% endfor %}
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>
<body>

{% for share_price in share_prices %}
<li>{{share_price.symbol}}, {{share_price.timestamp}}, {{share_price.open}}, {{share_price.close}}, {{share_price.high}}, {{share_price.low}}, {{share_price.volume}}</li>
{% endfor %}

<canvas id="myChart"></canvas>
<script>
var open_data = [], high_data = [], low_data = [], timestamp_data = [];

{% for share_price in share_prices %}
    open_data.push({{ share_price.open }});
    high_data.push({{ share_price.high }});
    low_data.push({{ share_price.low }});
    timestamp_data.push("{{ share_price.timestamp }}");
{% endfor %}

var ctx = document.getElementById("myChart").getContext('2d');
var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
    labels: timestamp_data,
    datasets: [{
        label: 'Open',
        data: open_data,
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
    }, {
        label: 'High',
        data: high_data,
        fill: false,
        borderColor: [
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
    }, {
        label: 'Low',
        data: low_data,
        fill: false,
        borderColor: [
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
    }],
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});
</script>

</body>
</html>