<!-- {% for share_price in share_prices %}
<li>{{share_price.symbol}}, {{share_price.timestamp}}, {{share_price.open}}, {{share_price.close}}, {{share_price.high}}, {{share_price.low}}, {{share_price.volume}}</li>
{% endfor %} -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scoop Analytics</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/main.css') }}">
  <script src="{{ url_for('static', filename = 'js/d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/jquery-3.2.1.min.js') }}"></script>
</head>
<body>
<script>
var data = [];
{% for share_price in share_prices %}
data.push({symbol: "{{share_price.symbol}}", timestamp: "{{share_price.timestamp}}", open: "{{share_price.open}}", close: "{{share_price.close}}", high: "{{share_price.high}}", low: "{{share_price.low}}", volume: "{{share_price.volume}}"});
{% endfor %}

var w = 800;
var h = 450;
var margin = {
  top: 58,
  bottom: 100,
  left: 80,
  right: 40
}
var width = w - margin.left - margin.right;
var height = h - margin.top - margin.bottom;

var svg = d3.select("body").append("svg")
        	.attr("id", "chart")
			.attr("width", w)
			.attr("height", h);
var chart = svg.append("g")
			.classed("display", true)
			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var timeParser = d3.timeParse("%s");

var x = d3.scaleTime()
		.domain(d3.extent(data, function(d){
			var time = timeParser(d.timestamp);
			return time;
		}))
		.range([0,width]);

var maxVal = d3.max([d3.max([
    d3.max(data, function(d) { return d.open; }),
    d3.max(data, function(d) { return d.high; })
]),d3.max(data, function(d) { return d.low; })]);
var minVal = d3.min([d3.min([
    d3.min(data, function(d) { return d.open; }),
    d3.min(data, function(d) { return d.high; })
]),d3.min(data, function(d) { return d.low; })]);

var colorScale = d3.scaleOrdinal(d3.schemeCategory10);
var y = d3.scaleLinear()
		.domain([minVal, maxVal])
		.range([height, 0]);
var xAxis = d3.axisBottom(x)
			.tickFormat(d3.timeFormat("%H:%M"));
var yAxis = d3.axisLeft(y);
var xGridlines = d3.axisBottom(x)
				.tickSize(-height,-height)
				.tickFormat("");
var yGridlines = d3.axisLeft(y)
				.tickSize(-width,0,0)
				.tickFormat("");
var line = d3.line()
			.x(function(d){
				var time = timeParser(d.timestamp);
				return x(time);
			})
			.y(function(d){
				return y(d.value);
			})
			.curve(d3.curveCardinal);
var area = d3.area()
			.x(function(d) {
				var time = timeParser(d.timestamp);
				return x(time);
			})
			.y0(height)
			.y1(function(d){
				return y(d.open);
			})
			.curve(d3.curveCardinal);

function drawAxes(params){
	if(params.initialise){
		this.append("g")
			.classed("gridline x", true)
			.attr("transform", "translate(0,"+height+")")
			.call(params.gridlines.x);
		this.append("g")
			.classed("gridline y", true)
			.attr("transform", "translate(0,0)")
			.call(params.gridlines.y);

		this.append("g")
			.classed("axis x", true)
			.attr("transform", "translate(" + 0 + "," + height + ")")
			.call(params.axis.x);

		this.append("g")
			.classed("axis y", true)
			.attr("transform", "translate(0,0)")
			.call(params.axis.y);

		this.select(".y.axis")
			.append("text")
			.classed("y axis-label",true)
			.attr("transform", "translate(-56,"+height/2+") rotate(-90)")
			.text("Share Price ($)");
		this.select(".x.axis")
			.append("text")
			.classed("x axis-label",true)
			.attr("transform", "translate("+width/2+",48)")
			.text("Time (Hours, Minutes)");
		this.append("g")
			.append("text")
			.classed("chart-header",true)
			.attr("transform", "translate("+width/2+",-24)")
			.text("");
	}
}

function plot(params){
	drawAxes.call(this, params);
	var self = this;
	var prices = d3.keys(params.data[0]).filter(function(d){
		return d == "open" || d == "high" || d == "low";
	});
	// enter()
	this.selectAll(".area")
		.data([params.data])
		.enter()
			.append("path")
			.classed("area",true)
	
	this.selectAll(".price")
			.data(prices)
			.enter()
				.append("g")
				.attr("class", function(d){
					return d;
				})
				.classed("price", true);

	// update
	this.selectAll(".price")
		.style("stroke", function(d,i){
			return colorScale(i);
		});

	prices.forEach(function(price){
		var g = self.selectAll("g."+price);
		var arr = params.data.map(function(d){
			return {
				key: price,
				timestamp: d.timestamp,
				value: d[price]
			};
		});
		// enter()
		g.selectAll(".trendline")
			.data([arr])
			.enter()
				.append("path")
				.classed("trendline", true);

		g.selectAll(".point")
			.data(arr)
			.enter()
				.append("circle")
				.classed("point", true)
				.attr("r", 4)
				.style("fill", function(d,i){
					return "#fff";
				});

		//update
		g.selectAll(".point")
			.style("opacity", function(d,i){
				return 0.25;
			})
			.attr("cx", function(d){
				var time = timeParser(d.timestamp);
				return x(time);
			})
			.attr("cy", function(d){
				return y(d.value);
			})
			.on("mouseover", function(d,i){
				d3.select(this)
					.transition()
					.attr("r", function(d){
						return 6;
					})
					.style("opacity", function(d,i){
						return 1;
					});
				g.selectAll(".trendline")
					.style("opacity", function(d,i){
						return 1;
					});

				var str = d.key.charAt(0).toUpperCase() + d.key.slice(1);
				if (d.key=="high"||d.key=="low") str += " Average Market Price: ";
				else str += "ing Market Price: "; 
				str += d.value + " at " + d3.timeFormat("%H:%M")(timeParser(d.timestamp));
				d3.select(".chart-header").text(str);
			})
			.on("mouseout", function(d,i){
				d3.select(this)
					.transition()
					.attr("r", function(d){
						return 4;
					})
					.style("opacity", function(d,i){
						return 0.25;
					});
				g.selectAll(".trendline")
					.style("opacity", function(d,i){
						return 0.25;
					});
				d3.select(".chart-header").text("");
			});

		g.selectAll(".trendline")
			.attr("d", function(d){
				return line(d);
			})
			.on("mouseover", function(d,i){
				d3.select(this)
					.transition()
					.style("opacity", 1);
					var groupDOM = $(g).get(0)["_groups"][0][0];
					if($(groupDOM).attr("class")=="open price") {
						self.selectAll(".area")
							.style("opacity", function(d){
								return 0.5;
							});
					}
					g.selectAll(".point")
						.style("opacity", function(d,i){
							return 1;
					});
			})
			.on("mouseout", function(d,i){
				d3.select(this)
					.transition()
					.style("opacity", 0.1);
					self.selectAll(".area")
						.style("opacity", function(d){
							return 0.15;
						});
					g.selectAll(".point")
						.style("opacity", function(d,i){
							return 0.25;
					});
			});


		//exit()
		g.selectAll(".point")
			.data(arr)
			.exit()
			.remove();

		g.selectAll(".trendline")
			.data(arr)
			.exit()
			.remove();
	});

	this.selectAll(".area")
		.attr("d", function(d){
			return area(d);
		});

	// exit
	this.selectAll(".area")
		.data([params.data])
		.exit()
		.remove();
}
plot.call(chart, {
	data: data,
	axis: {
		x: xAxis,
		y: yAxis
	},
	gridlines: {
		x: xGridlines,
		y: yGridlines,
	},
	initialise: true
})
</script>
</body>