<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Scoop Analytics</title>
  <link rel="icon" sizes="192x192" href="{{ url_for('static', filename = 'img/favicon.png') }}">
  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/main.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- JS -->
  <script src="{{ url_for('static', filename = 'js/d3.min.js') }}"></script>
  <script src="https://unpkg.com/d3fc/build/d3fc.min.js"></script>
  <script src="{{ url_for('static', filename = 'js/jquery-3.2.1.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Custom JS includes -->
  <script src="{{ url_for('static', filename = 'js/nasdaq-close.js') }}"></script>  
  <script src="{{ url_for('static', filename = 'js/scoop-parse.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/scoop-api-work.js') }}"></script>  
</head>
<body>
<div class="container-fluid">
  <div class="row gutter-10">
    <div class="col-sm" id="bs-left-div">
    </div>
    <div class="col-sm" id="bs-center-div">
      <div class="buttons">
                <div class="btn-group">
              <button id="market-btn" class="btn btn-secondary btn-sm btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div id="market-dropdown" class="dropdown-menu">
                <a class="dropdown-item" href="#">NASDAQ</a>
                <a class="dropdown-item" href="#">LON</a>
              </div>
            </div>
                <div class="btn-group">
              <button id="stock-btn" class="btn btn-secondary btn-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div id="stock-dropdown" class="dropdown-menu">
                <a class="dropdown-item" href="#">AAPL</a>
                <a class="dropdown-item" href="#">GOOG</a>                
                <a class="dropdown-item" href="#">HMNY</a>
                <a class="dropdown-item" href="#">ITUS</a>
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm" id="bs-right-div">
    </div>
  </div>
</div>
<script>
var data_prices_old = parseData.parseFlaskJSON().parsePrices({{ share_prices | tojson | safe}});
var data_prices = parseData.parseFlaskJSON().parsePrices({{ google_prices | tojson | safe}});
// var data_tweets = parseData.parseFlaskJSON().parseTweets({{ documents | tojson | safe}});
var tweet_urls = ["{{ url_for('static', filename = 'img/twitter-retweet.svg') }}", "{{ url_for('static', filename = 'img/twitter-like.svg') }}", "{{ url_for('static', filename = 'img/twitter-reply.png') }}","{{ url_for('static', filename = 'img/twitter-promoted.png') }}"];
</script>
<script src="{{ url_for('static', filename = 'js/scoop-streaming.js') }}"></script>  
<script src="{{ url_for('static', filename = 'js/scoop-chart.js') }}"></script>  
</body>