//10px Gutter
.gutter-10.row {
margin-right: -5px;
margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
padding-right: 5px;
padding-left: 5px;
}

body,html{
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 0.95em;
	text-align: center;
}
#chart{
	background-color: #FFFFFF;
	/*border: 1px solid #CCC;*/
}
.bar{
	fill: purple;
	shape-rendering: crispEdges;
}
.bar-label{
	fill: black;
	text-anchor: middle;
	font-size: 18px;
}
.brush .selection {
  stroke: #ccc;
  fill-opacity: .075;
  shape-rendering: crispEdges;
}
.axis path,
.axis line{
	fill: none;
	stroke: #b9bbbf;
	shape-rendering: crispEdges;
}
.axis text{
	fill: #888a91;
}
.axis-label.y{
	text-anchor:middle;
	fill: #888a91;
	font-size:90%;
}
#text-open, #text-high, #text-low, #text-average, .axis-label.x, .lastupdated {
	fill: #888a91;
	font-size:75%;
	font-weight: none;
}
.gridline path,
.gridline line{
	fill: none;
	stroke: #ccc;
	shape-rendering: crispEdges;
}
#hover-line-x, #hover-line-y, #lastval-line { 
  stroke: #8c8c8c;
  stroke-dasharray: 5,5;  
  fill: none;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
#lastval-line {
	stroke: #eb4d5c;
}
.trendline {
	fill: none;
	stroke-width: 2px;
	shape-rendering: geometricPrecision;
	opacity:1;
}
.avgLine {
	fill: none;
	stroke-width: 2px;
	shape-rendering: geometricPrecision;
	opacity: 0.5;
	stroke: #ffb2b2 !important;
}
.area{
	opacity: 0.6;
	fill: #e6f0ff;
	stroke: #ccc;
	stroke-width: 1px;
}
.areaContext{
	opacity: 0.6;
	fill: #e6f0ff;
	stroke: #ccc;
	stroke-width: 1px;
}
.chart-header{
	text-anchor:middle;
	fill: black;
	font-size:90%;
	opacity: 0;
}
.legend text{
	fill: #888a91;
	font-size:75%;
}
.legend line{
	fill: none;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}
._average.legend line {
	stroke: #ffb2b2;
}
._close.legend line {
	stroke: #0065fc;
}
._last.value.legend line {
	stroke: #eb4d5c;
	stroke-dasharray: 2,2;  
}
.tooltip {
	pointer-events: none;
	position: absolute;
	display: none;
	min-width: 50px;
	height: auto;
	background: none repeat scroll 0 0 #ffffff;
	padding: 9px 14px 6px 14px;
	border-radius: 4px;
	text-align: center;
	font-size:75%;
	line-height: 1.5;
	color: #5B6770;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}
.tooltip:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid transparent;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -12px;
}  
.tooltip span {
	font-weight: 500;
	color: #081F2C;
 }

 .vol-tooltip {
	pointer-events: none;
	position: absolute;
	display: none;
	min-width: 50px;
	height: auto;
	background: none repeat scroll 0 0 #ffffff;
	padding: 9px 14px 6px 14px;
	border-radius: 4px;
	text-align: center;
	font-size:75%;
	line-height: 1.5;
	color: #5B6770;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}
.vol-tooltip:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid transparent;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -12px;
}  
.vol-tooltip span {
	font-weight: 500;
	color: #081F2C;
 }

/* Streaming Tweets: Right */
.panelstream {
	margin-top: 5px;
	overflow: hidden;
	font-size:80%;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.panelstream-body {
	background:rgba(248,248,248, .05);
	position: relative;
}

.panelstream-body p{
	margin: 2px;
	padding: 5px;
	color: #888a91;
}

img.panelstream-tweet-img-profile {
	border: #888a91 1px solid;
}

p.panelstream-tweet-header {
	background:rgba(0,101,252, .07);
	position: relative;
	text-align: left;
	vertical-align:top;
	padding-top: 5px !important;
	margin: 0px !important;
	margin-top: 1px !important;
}

text.panelstream-tweet-header-text {
	left: 5px;
}

/* Tweet Panel: Left */
.panel {
	margin-top: 5px;
	overflow: hidden;
	font-size:80%;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.panel-body {
	background:rgba(248,248,248, .05);
	position: relative;
}

.panel-body p{
	margin: 2px;
	padding: 5px;
	color: #888a91;
}

img.panel-tweet-img-profile {
	border: #888a91 1px solid;
}

p.panel-tweet-header {
	background:rgba(0,101,252, .07);
	position: relative;
	text-align: left;
	vertical-align:top;
	padding-top: 5px !important;
	margin: 0px !important;
	margin-top: 1px !important;
}

text.panel-tweet-header-text {
	left: 5px;
}

.panel-tweet-body, .panel-tweet-info-block {
	position: relative;
 	text-align: left;
 	word-break: break-word;
 }

 .panel-tweet-img-favorite, .panel-tweet-img-retweet {
  -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.8); /* FF3.5+ */
      -ms-transform: scale(0.8); /* IE9 */
       -o-transform: scale(0.8); /* Opera 10.5+ */
          transform: scale(0.8);
             /* IE6–IE9 */
             filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}

.panel-tweet-img-favorite, .panel-tweet-text-favorite {
	position: relative;
	right: -20px;
}

.panel-tweet-text-favorite, .panel-tweet-text-retweet {
	position: relative;
}

.zoom {
	cursor: move;
	fill: none;
	pointer-events: all;
}
.market {
	font-weight: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	fill: #84c283;
	font-size:80%;
}
.market-labels {
	font-size:100%;
	font-weight: none;
}
.market-by-val {
	font-size:120%;
}
.market-labels {
	opacity: 0;
	font-size:80%;
	fill: #888a91;
}

.lineTrackC circle, .lineTrackA circle {
  fill: none;
}
.lineTrackC circle{
	stroke: steelblue;
}
.lineTrackA circle{
	stroke: palevioletred;
}
.lineTrackC text, .lineTrackA text {
	font-size: 75%;
	/*fill: #585858;*/
}
.lineTrackC text{
	fill: steelblue;
}
.lineTrackA text{
	fill: palevioletred;
}
#hover-text-x, #hover-text-y, #lastval-text {
	fill: #ffffff !important;
	font-size:75%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#hover-rect-x, #hover-rect-y {
	fill: #404040;
}
#lastval-rect {
	fill: #eb4d5c;
}
.daterange-select {
	font-size: 80%;
	/*fill: #888a91;*/
	fill: steelblue;
	text-decoration: underline;
}